{%- assign static_files_paths = site.static_files | map: 'path' -%}{% if static_files_paths contains '/favicon.ico' %}<link rel='icon' href='{{ "favicon.ico" | absolute_url }}'>{% elsif site.favicon.ico %}<link rel='icon' href='{{ site.favicon.ico | absolute_url }}'>{% endif %}
<!-- FAVICON.png -->
{% if static_files_paths contains '/favicon.png' %}<link rel='apple-touch-icon' href='{{ "favicon.png" | absolute_url }}'>
<link rel='icon' type='image/png' href='{{ "favicon.png" | absolute_url }}'>{% elsif site.favicon.png %}<link rel='apple-touch-icon' href='{{ site.favicon.png | absolute_url }}'>
<link rel='icon' type='image/png' href='{{ site.favicon.png | absolute_url }}'>{% endif %}
{%- capture api -%}
## Favicon

The favicon files are expected to be `/favicon.ico` and `/favicon.png`.

Specify different paths in `_config.yml`
```yml
favicon:
  ico: "ico-file-path"
  png: "png-file-path"
```

Changing favicon files require updating the browser cache opening the file directly: [ico file]({{ 'favicon.ico' | absolute_url }}), [png file]({{ 'favicon.png' | absolute_url }}).
{%- endcapture -%}