<meta charset='utf-8'>
<meta name='viewport' content='width=device-width'>

<!-- MANIFEST -->
<link rel='manifest' href='{{ "/assets/manifest.json" | absolute_url }}' />

<!-- FAVICON -->
{% include page/favicon.html %}

<!-- REPOSITORY -->
<meta name='site_build' content='{{ site.time }}'>
<meta name='remote-theme-version' content='{% include version.html %}'>
{% if site.remote_theme %}<meta name='remote_theme' content='{{ site.remote_theme }}'>
{% endif %}
<!-- SEO -->
{% include page/seo.html %}

<!-- CSS -->
<link rel='stylesheet' href='{{ "assets/css/stylesheet.css" | absolute_url }}?build={{ site.time | date: "%s" }}'>

<!-- SCRIPTS -->
<script src='{{ "assets/js/jquery.3.6.0.min.js" | absolute_url }}'></script>

<!-- base64.js 3.7.2 https://github.com/dankogai/js-base64 -->
<script src='{{ "assets/js/base64.js" | absolute_url }}'></script>

<!-- SerializeJSON jQuery plugin 3.2.1 https://github.com/marioizquierdo/jquery.serializeJSON -->
<script src='{{ "assets/js/jquery.serializeJSON.min.js" | absolute_url }}'></script>

<!-- js-yaml.js 4.1.0 https://github.com/nodeca/js-yaml -->
<script src='{{ "assets/js/js-yaml.min.js" | absolute_url }}'></script>

<script src='{{ "assets/js/script.js" | absolute_url }}?build={{ site.time | date: "%s" }}' defer></script>