{% comment %} -------------------- MODE (dark/light) {% endcomment %}
{%- assign mode = page.mode -%}
{%- if mode == nil -%}{%- assign mode = site.mode -%}{%- endif -%}
{%- if mode == nil -%}{%- assign mode = 'dark' -%}{%- endif -%}

{% comment %} -------------------- TOP NAV (boolean) {% endcomment %}
{%- assign nav = page.nav -%}
{%- if nav == nil -%}{%- assign nav = site.nav -%}{%- endif -%}
{%- if nav == nil -%}{%- assign nav = false -%}{%- endif -%}

{% comment %} -------------------- HEADER (boolean) {% endcomment %}
{%- assign header = page.header -%}
{%- if header == nil -%}{%- assign header = site.header -%}{%- endif -%}
{%- if header == nil -%}{%- assign header = false -%}{%- endif -%}

{% comment %} ----------- NAVIGATION (pages,help,collections,login) {% endcomment %}
{%- assign navigation = page.navigation -%}
{%- if navigation == nil -%}{%- assign navigation = site.navigation -%}{%- endif -%}
{%- if navigation == nil -%}{%- assign navigation = 'pages, collections, login' | split: ',' -%}{%- endif -%}

{% comment %} -------------------- SIDEBAR (toc,navigation,meta) {% endcomment %}
{%- assign sidebar = page.sidebar -%}
{%- if sidebar == nil -%}{%- assign sidebar = site.sidebar -%}{%- endif -%}
{%- if sidebar == nil -%}{%- assign sidebar = 'toc, navigation, meta' | split: ',' -%}{%- endif -%}

{% comment %} -------------------- FOOTER (boolean) {% endcomment %}
{%- assign footer = page.footer | default: site.footer-%}
{%- if footer == nil -%}{%- assign footer = false -%}{%- endif -%}

{%- capture api -%}
## Page attributes

Page attributes with default values

```yml
# Dark or light color scheme
mode: dark # light
# Header at the top of pages
header: false # true
# Top nav bar
nav: false # true
# Links order for the navigation
navigation: [pages, collections, login] # help
# Widgets for the sidebar
sidebar: [toc, navigation, meta]
# Footer at the bottom of pages
footer: false # true
# Classes for the page
class: '' # space separated list
```

Can be set in different modes:

For the whole site

```yml
# _config.yml
attribute: value
```
For pages in collections

```yml
# _config.yml
defaults:
  - scope:
      type: my-collection
    values:
      attribute: value
```

For singular pages, in the _front-matter_

```yml
---
attribute: value
---
```
{%- endcapture -%}