{%- assign default_mode = "dark" -%}
{%- assign default_nav = false -%}
{%- assign default_header = false -%}
{%- assign default_navigation = 'pages, collections, login' | split: ',' -%}
{%- assign default_sidebar =  'toc, navigation, meta' | split: ',' -%}
{%- assign default_footer  = false -%}

{% comment %} -------------------- MODE (string: dark/light) {% endcomment %}
{%- assign mode = page.mode | default: site.mode | default: default_mode -%}

{% comment %} -------------------- TOP NAV (boolean) {% endcomment %}
{%- assign nav = page.nav | default: site.nav | default: default_nav -%}

{% comment %} -------------------- HEADER (boolean) {% endcomment %}
{%- assign header = page.header | default: site.header | default: default_header -%}

{% comment %} ----------- NAVIGATION (pages,help,collections,login) {% endcomment %}
{%- assign navigation = page.navigation | default: site.navigation | default: default_navigation -%}

{% comment %} -------------------- SIDEBAR (toc,navigation,meta) {% endcomment %}
{%- assign sidebar = page.sidebar | default: site.sidebar | default: default_sidebar -%}

{% comment %} -------------------- FOOTER (boolean) {% endcomment %}
{%- assign footer = page.footer | default: site.footer | default: default_footer -%}

{%- capture api -%}
## Page attributes

Page attributes with default values

```yml
# Dark or light color scheme
mode: dark # light
# Header at the top of pages
header: false # true
# Top nav bar
nav: false # true
# Links order for the navigation
navigation: [pages, collections, login] # help
# Widgets for the sidebar
sidebar: [toc, navigation, meta]
# Footer at the bottom of pages
footer: false # true
# Classes for the page
class: '' # space separated list
```

Can be set in different ways:

For the whole site

```yml
# _config.yml
attribute: value
```
For pages in collections

```yml
# _config.yml
defaults:
  - scope:
      type: my-collection
    values:
      attribute: value
```

For singular pages, in the _front-matter_

```yml
---
attribute: value
---
```
{%- endcapture -%}