{% comment %}
-------------------- TOP (header,nav)
{% endcomment %}
{%- assign top = page.top -%}
{%- if page.top == nil -%}{%- assign top = 'nav' | split: ',' -%}{%- endif -%}
{% comment %}
-------------------- NAVIGATION (pages,help,collections,login)
{% endcomment %}
{%- assign navigation = page.navigation -%}
{%- if page.navigation == nil -%}{%- assign navigation = 'pages,collections,login' | split: ',' -%}{%- endif -%}
{% comment %}
-------------------- SIDEBAR (navigation,toc,meta_links)
{% endcomment %}
{%- assign sidebar = page.sidebar -%}
{%- if page.sidebar == nil -%}{%- assign sidebar = 'toc' | split: ',' -%}{%- endif -%}
{% comment %}
-------------------- FOOTER (false/true)
{% endcomment %}
{%- assign footer = page.footer -%}
{%- if page.footer == nil -%}{%- assign footer = true -%}{%- endif -%}

{%- capture api -%}
## Pages

Page default values

```yml
---
top: [nav] # header
navigation: [pages,collections,login] # help
sidebar: [top] # navigation, meta_links
footer: true # false
class: '' # space separated list
---
```

Page attributes can be set in different modes:

<div class="grid">
<div markdown="1">
For every page

```yml
# _config.yml
defaults:
  - scope:
      path: ""
    values:
      attribute: value
```
</div>
<div markdown="1">
For pages in collections

```yml
# _config.yml
defaults:
  - scope:
      type: my-collection
    values:
      attribute: value
```
</div>
</div>

For singular pages, in the _front-matter_

```yml
---
attribute: value
---
```
{%- endcapture -%}