<nav>
  <div class='wrapper'>
    {% unless header %}<span><a href="{{ '/' | absolute_url }}">{{ site.title }}</a> <span class="fg-secondary" title="{{ page.title }}">{% if page.url != '/' %}&rarr; {{ page.title | truncate: 31 }}{% else %}&larr; {{ site.description }}</h2>{% endif %}</span></span>{% endunless %}
    {% include page/navigation.html %}
  </div>
</nav>
{%- capture api -%}
## Navbar

Show a navigation bar at the page top if `nav: true`{:.language-yml}.  
Default value is `nav: false`{:.language-yml}.

```liquid
{% raw %}{% if nav %}{% include page/nav.html %}{% endif %}{% endraw %}
```
{%- endcapture -%}