{%- assign sorted_collections = site.collections | sort: sort_by -%}
{%- for collection in sorted_collections -%}{% if collection.docs.size > 0 %}
{%- assign collection_docs = collection.docs | sort: sort_by -%}
<li>
  <span{% if page.collection == collection.label %} class="active"{% endif %}>{{ collection.title | default: collection.label }}</span>
  <ul>
    {% for link in collection_docs %}<li><a href="{{ link.url | absolute_url }}"{% if page.url == link.url %} class="active"{% endif %}>{{ link.title | default: link.path }}</a></li>
  {% endfor %}</ul>
</li>
{% endif %}{%- endfor -%}