*
  box-sizing: border-box

html
  overflow-y: scroll
  scroll-behavior: smooth

body
  margin: 0 auto
  max-width: $max-width
  display: flex
  flex-direction: column

header, footer, section, main > aside
  padding-top: $layout-padding
  padding-bottom: $layout-padding

header, footer, section
  padding-left: $layout-padding
  padding-right: $layout-padding

// Remove top and bottom margins of the first and last elements
header, section, footer, hgroup, form, blockquote, main > aside, *:not(form) > [class*='color-']
  & > *:first-child
    margin-top: 0
  & > *:last-child
    margin-bottom: 0

// Cursor on title attribute
[title]
  cursor: default

// Grid div
.grid
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr))
  grid-column-gap: 1rem
  grid-row-gap: 1rem
  margin: 0 0 1rem 0