// Loading cursor
.loading
  cursor: wait
  a, nav span, input, select, label
    @extend .disabled

// Dim page content
main, header, footer
  opacity: 1
  transition: opacity .5s

.dim
  main, header, footer
    opacity: .5
    transition: opacity .5s

// Hide classes
.show-if-alone:not(:only-of-type),
.hidden, template, [hidden]
  display: none

// Big screens
@media (min-width: $mobile-width)
  .show-if-small-screen
    display: none

// Opposite mode
.mode-light .mode-opposite
  @extend .mode-dark
.mode-dark .mode-opposite
  @extend .mode-light

// Minimum padding
.minimum-padding
  padding: $minimum-padding

//
// Borders
// --------------------------------------

// Only rounded
.border-rounded
  border-radius: $border-radius
  // Fix background bleeding
  overflow: hidden

// Complete border
.border
  border-style: solid
  border-color: var(--border-color)
  border-width: $border-width
  @extend .border-rounded