// Loading cursor
.loading, .loading *
  cursor: wait

.show-if-alone:not(:only-of-type),
.mode-dark .show-if-mode-light,
.mode-light .show-if-mode-dark,
html:not(.logged) .show-if-logged,
.logged .show-if-not-logged,
.role-admin .show-if-role-guest,
.role-guest .show-if-role-admin,
  display: none

// Opposite mode
.mode-light
  .mode-opposite, .mode-opposite *
    @extend .mode-dark
.mode-dark
  .mode-opposite, .mode-opposite *
    @extend .mode-light

.border
  border-style: solid
  border-color: var(--border-color)
  border-width: 1px
  border-radius: $border-radius

.minimum-padding
  padding: 0.5rem 1rem