//
// Small screens
// --------------------------------------
@media (max-width: $mobile-width)

  // Layout
  header, footer, section, main > aside:first-child
    padding-top: $mobile-layout-padding
    padding-bottom: $mobile-layout-padding

  header, footer, section, main > aside:first-child
    padding-left: $mobile-layout-padding
    padding-right: $mobile-layout-padding

  //
  // Stack sidebar
  // --------------------------------------
  main
    flex-direction: column
    > aside:first-child
      position: static
      padding-bottom: 0

  // Tables
  section
    overflow-x: auto
  table, thead, tbody, th, td, tr
    display: block
  td, th
    text-align: left !important
    border-bottom-width: 0px !important
    &:empty
      display: none
    &:last-child
      border-bottom-width: $border-width !important
    &:not(:first-of-type)
      padding-top: 0 !important
    &:not(:last-of-type)
      padding-bottom: 0 !important

  // Header
  header
    // Remove sticky
    position: static !important
    // Stack elements vertically (left)
    flex-direction: column
    align-items: start

  // Remove sticky margin for targets
  .screen-big
    \:target
      scroll-margin-top: 0
      scroll-snap-margin-top: 0
  html
    @extend .screen-big

  footer
    flex-direction: column
    // Lists alignment
    ul
      text-align: left !important

  // Navigation
  nav ul
    flex-direction: column
    li
      margin-left: 0
      a, span
        border: none
        border-radius: 0
        padding: 0
        background: var(--bg) !important
        &.active
          color: var(--fg-secondary)
      ul
        margin-left: 1em
        border: none
        position: static
        display: block

  // Visibility
  .show-if-big-screen
    display: none !important

  //
  // GRIDS
  // --------------------------------------
  .grid

    // Stack columns
    grid-template-columns: 1fr

  .flex
    flex-direction: column