\:root, .mode-light
  --bg:              #{$bg-light}
  --bg-secondary:    #{$bg-light-secondary}
  --fg:              #{$fg-light}
  --fg-secondary:    #{$fg-light-secondary}
  --border-color:    #{$border-color-light}
  // Links
  --link-color:        #{$link-color-light}
  --link-color-hover:  #{$link-color-hover-light}
  --link-color-active: #{$link-color-active-light}
  // Scrollbar
  --scrollbar-thumb: #{$scrollbar-thumb-light}
  --scrollbar-track: #{$scrollbar-track-light}
  // Colors light
  @each $accent-name, $accent-color in $accents-light
    $hue: hue($accent-color)
    &.accent-#{$accent-name},
    .accent-#{$accent-name}
      --link-color:      #{$accent-color}
      --scrollbar-thumb: #{$accent-color}
      --scrollbar-track: #{hsl($hue, 28%, 87%)}
    &.color-#{$accent-name},
    .color-#{$accent-name}
      --bg:              #{hsl($hue, 28%, 88%)}
      --bg-secondary:    #{hsl($hue, 21%, 82%)}
      --border-color:    #{hsl($hue, 12%, 68%)}
      --fg:              #{hsl($hue, 17%, 28%)}
      --fg-secondary:    #{hsl($hue, 9%, 49%)}

// Dark mode, overwrite :root
.mode-dark
  --bg:              #{$bg_dark}
  --fg:              #{$fg_dark}
  --bg-secondary:    #{$bg-dark-secondary}
  --fg-secondary:    #{$fg-dark-secondary}
  --border-color:    #{$border-color-dark}
  // Links
  --link-color:        #{$link-color-dark}
  --link-color-hover:  #{$link-color-hover-dark}
  --link-color-active: #{$link-color-active-dark}
  // Scrollbar
  --scrollbar-thumb: #{$scrollbar-thumb-dark}
  --scrollbar-track: #{$scrollbar-track-dark}
  // Colors dark
  @each $accent-name, $accent-color in $accents-dark
    $hue: hue($accent-color)
    &.accent-#{$accent-name},
    .accent-#{$accent-name}
      --link-color:      #{$accent-color}
      --scrollbar-thumb: #{$accent-color}
      --scrollbar-track: #{hsl($hue, 28%, 7%)}
    &.color-#{$accent-name},
    .color-#{$accent-name}
      --bg:              #{hsl($hue, 28%, 7%)}
      --bg-secondary:    #{hsl($hue, 21%, 11%)}
      --border-color:    #{hsl($hue, 12%, 21%)}
      --fg:              #{hsl($hue, 17%, 82%)}
      --fg-secondary:    #{hsl($hue, 9%, 58%)}

// Hues
@each $accent_name, $accent_color in $accents_light
  .color-#{$accent-name}
    @extend .accent-#{$accent-name}