<table class='csv' data-file='{{ include.file }}' data-sort='up'>
  <thead></thead>
  <tbody></tbody>
</table>

<!-- FILTER template -->
<template id='template-filter'>
  <div class='filter'>
    <label for='column'>Filter</label>
    <select class='inline' name='column'></select>
    <input type='text' name='value' placeholder='Value'>
    <a href='#reset' class='prevent-default'>Reset</a>
  </div>
</template>

<!-- SORT HEADER template -->
<template id='template-sort-header'>
  <tr>
    <th id='count'>
      <span></span>
      <a href='#up' class='prevent-default' apply-if-parent="hidden|table[data-sort='down']">▲</a><a href='#down' class='prevent-default' apply-if-parent="hidden|table[data-sort='up']">▼</a>
    </th>
  </tr>
</template>
{%- capture api -%}
## CSV Table

Render a table from a CSV data file with sorting and filter features.  
The TABLE will have a `csv` class and a `data-file` attribute.  
Require the [csv]({{ 'docs/scripts/#csv' | absolute_url }}) script.

```liquid
{% raw %}{% include widgets/csv/table.html file='data_file_name' %}{% endraw %}
```

**Includes**

- `file`: (required) filename of the CSV (no extension)
{%- endcapture -%}