figure.highlight,
div.highlighter-rouge
  
  // Spacing
  margin: 0

  // Borders
  border-radius: $border-radius

figure.highlight,
div.highlighter-rouge
  // Width as needed
  display: inline-block

.grid
  figure.highlight,
  div.highlighter-rouge
    // Revert at default
    display: block

pre.highlight, .highlight pre

  // Spacing
  padding: .5rem 1rem
  margin: 0

  // Typography
  white-space: pre-wrap
  word-break: break-word

// Border
*:not(code).highlight
  border-radius: $border-radius

//
// INLINE
// --------------------------------------

*:not(pre) > code

  // Spacing
  padding: 0.1rem 0.2rem

  // Borders
  border-radius: $border-radius-small

// Opposite mode
.mode-light .mode-opposite, .mode-light .mode-opposite *,
.mode-dark .mode-opposite, .mode-dark .mode-opposite *
    *:not(pre) > code
      background: inherit
      color: inherit