header

  // Dominate
  z-index: 1000

  // COLORS
  background: var(--bg)
  border-bottom: 1px solid var(--border-color)

  // FLEX
  display: flex
  justify-content: space-between
  flex-direction: $header-direction
  align-items: center

  // HGROUP
  hgroup

    // FLEX
    display: flex
    align-items: baseline

    // Prevent text overflow
    overflow: hidden

    // Spacing and separation
    h2
      margin: 0
      padding-left: $space-half

      &:last-child
        @extend .fg-secondary
        font-style: italic
        padding-right: $space-half

        // Prevent text overflow
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis

// STICKY
// if site has more than 1 page,
// navigation is present and header is sticky
body:not([site-pages="1"]) header
  position: sticky
  top: 0