header

  // Dominate
  z-index: 1000

  // COLORS
  background: var(--bg)
  border-bottom: 1px solid var(--border-color)

  // FLEX
  display: flex
  justify-content: space-between
  flex-direction: $header-direction
  align-items: center

  // HGROUP
  hgroup

    // TYPOGRAPHY
    h2:not(:first-child)
      @extend .fg-secondary
      font-style: italic

    // FLEX
    display: flex
    align-items: baseline
    
    // Spacing and separation
    > *
      margin: 0
      padding-right: .5rem

// STICKY
body:not([site-pages="1"]) header
  position: sticky
  top: 0