a

  // Color
  color: var(--link-color)

  // Decorations
  text-decoration: $link-decoration
  outline-width: 0
  &:hover
    text-decoration: $link-decoration-hover
    color: var(--link-color-hover)
  &:active
    text-decoration: $link-decoration-active
    color: var(--link-color-active)

.big-link
  @extend .border, .minimum-padding, .bg-secondary
  &:hover
    text-decoration: none
  &.active
    text-decoration: none
    background: var(--bg)

// Disabled
[disabled], .disabled
  pointer-events: none
  color: var(--fg-secondary)