#notification

  // Hide
  display: none

  // Positioning
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  @extend .border, .minimum-padding

  // Dominate
  z-index: 2000
  cursor: pointer

  // Typography
  text-align: center
  line-height: 2.5

  // Size
  overflow: hidden
  max-width: $max-width