table
  
  // Spacing
  border-spacing: 0
  margin: $space 0
  th, td
    padding: $space-half

  // Colors
  tbody
    tr, td
      color: var(--fg)
      background: var(--bg)
  thead th, tfoot, tbody.thead, tr.thead td
    color: var(--fg)
    background: var(--bg-secondary)
    font-weight: bold
  tbody:nth-of-type(2n) tr td
    @extend .bg-secondary

  // BORDERS
  &:not(.no-border)
    @extend .border
    & > tr:not(:last-of-type):not(.no-border) td:not(.no-border),
    tbody:last-of-type tr:not(:last-of-type):not(.no-border) td:not(.no-border),
    tbody:not(:last-of-type) tr:not(.no-border) td:not(.no-border),
    thead th
      border-bottom-width: 1px
      border-bottom-style: solid
      border-bottom-color: var(--border-color)