{% if include.file == nil %}> Missing `file` for `csv-blocks` widget
{:.red}{% else %}
<div class='csv-blocks {{ include.class }}' data-file='{{ include.file }}' data-blocks='{{ include.blocks | default: 14 }}' data-flow='{{ include.flow | default: "past" }}'></div>
{% endif %}
{%- capture api -%}
## CSV Blocks

Render blocks from a CSV data file.  
The DIV will have `.csv-blocks`{:.language-css} class and `[data-file]`{:.language-css} attribute.  
Require the [SCV Blocks script]({{ 'docs/scripts/#csv-blocks' | absolute_url }}) script.

```liquid
{% raw %}{% include widgets/csv-blocks.html file='data_file_name' %}{% endraw %}
```

**Includes**

- `file`: (required) filename of the CSV (no extension)
- `blocks`: (optional) number of blocks, default to 14
- `flow`: (optional) can be `future`, default to `past`
- `class`: (optional) space separated list of classes
{%- endcapture -%}