<div csv-blocks data-file='{{ include.file }}'{% if include.blocks %} data-blocks='{{ include.blocks }}'{% endif %}></div>
{%- capture api -%}
## CSV Blocks

Render a running average of blocks from a CSV data file.  
The TABLE will have a `csv` class and a `data-file` attribute.  
Require the [SCV Blocks script]({{ 'docs/scripts/#csv-blocks' | absolute_url }}) script.

```liquid
{% raw %}{% include widgets/csv-blocks.html file='data_file_name' %}{% endraw %}
```

**Includes**

- `file`: (required) filename of the CSV (no extension)
- `blocks`: (optionsl) number of blocks, default to 14
{%- endcapture -%}