{% if include.file == nil %}> Missing `file` for `csv-table` widget
{:.red}{% else %}
<table class='csv-table {{ include.class }}' data-file='{{ include.file }}' data-sort='up'>
  <thead>
    <tr class='no-border'>
      <th id='counter'></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<template id="template-sort-links-cell">
  <th>
    <span></span>
    <a href='#up' class='prevent-default'>▲</a><a href='#down' class='prevent-default'>▼</a>
  </th>
</template>

<template id="template-service-links-cell">
  <td>
    <a href='#edit-entry' class='prevent-default' title='Edit'>{% include svg/icon_edit.svg %}</a>
    <a href='#remove-entry' class='prevent-default' title='Remove'>{% include svg/icon_remove.svg %}</a>
  </td>
</template>
{% endif %}

{%- capture api -%}
## CSV Table

Render a table from a CSV data file with sorting and filter features.  
The TABLE will have `csv-table` and `data-file` attribute.  
Require the [CSV Table script]({{ 'docs/scripts/#csv-table' | absolute_url }}) script.

```liquid
{% raw %}{% include widgets/csv-table.html file='data_file_name' %}{% endraw %}
```

**Includes**

- `file`: (required) filename of the CSV (no extension)
- `class`: (optional) space separated list of table classes
{%- endcapture -%}