{% if include.file == nil %}> Missing `file` for `document` widget
{:.red}{% else %}
<form class='prevent-default document' data-file='{{ include.file }}'>
  <h3><span class='form-title'>Document</span>{% if include.file %} <code>{{ include.file }}</code>{% endif %}</h3>

  <!-- Editing index -->
  <input data-value-type='skip' type="hidden" name="index" value="">

  <div inject></div>

<!-- BUTTONS -->
{% include widgets/buttons.html %}

<!--
          ENUM TEMPLATE
-->
<template id="template-add-item">
  <div data-type="item">
    <label class="fg-secondary">Add item</label>
    <a href="#add-item" title="Add item" class="prevent-default" data-add="item">{% include svg/icon_add.svg %}</a>
  </div>
</template>

<!--
          SVG TEMPLATE
-->
<template id="template-svg">
  <div data-type="svg"></div>
</template>

</form>
{% endif %}
{%- capture api -%}
## Document

Render a FORM to manage a document from a JSON schema.  
Require [form]({{ 'docs/scripts/#form' | absolute_url }}) and [document]({{ 'docs/scripts/#document' | absolute_url }}) scripts.

```liquid
{% raw %}{% include widgets/document.html file='schema-$id' %}{% endraw %}
```

**Includes**

- `file`: (required) `$id` value of the JSON schema for the document.
{%- endcapture -%}