{% if include.file %}
<form class='prevent-default document' data-file='{{ include.file }}'>
  <h3>Document{% if include.file %} <code>{{ include.file }}</code>{% endif %}</h3>

  <!-- Editing index -->
  <input data-value-type='skip' type="hidden" name="index" value="">

  <div inject></div>

<!-- BUTTONS -->
  <div data-type='button'>
    <input type='submit' value='Save'>
    <input type='reset'>
  </div>
</form>

<!--
          ENUM TEMPLATE
-->
<template id="template-add-item">
  <div data-type="item">
    <label class="fg-secondary">Add item</label>
    <a href="#add-item" class="prevent-default" data-add="item">add</a>
  </div>
</template>

{% else %}
<blockquote class="red">
  Missing <code>file</code> in <code>widgets/document.html</code>
</blockquote>
{% endif %}
{%- capture api -%}
## Document

Render a FORM to manage a document from a JSON schema.  
Require [form]({{ 'docs/scripts/#form' | absolute_url }}) and [document]({{ 'docs/scripts/#document' | absolute_url }}) scripts.

```liquid
{% raw %}{% include widgets/document.html file='schema-$id' %}{% endraw %}
```

**Includes**

- `file`: (required) `$id` value of the JSON schema for the document.
{%- endcapture -%}