{%- assign repo = site.github.public_repositories | where: "full_name", site.github.repository_nwo | first -%}
{%- if repo.fork == false -%}{% include widgets/schema.html file=include.file %}{%- else -%}{% include widgets/document.html file=include.file %}{%- endif -%}
{%- capture api -%}
## Form

If the repository is a fork, include a document form, if not include a schema form.

```liquid
{% raw %}{% include form.html %}{% endraw %}
```

**Includes**

- `file`: schema or document file to populate
{%- endcapture -%}