<li><a href="#" class="login-link unlogged prevent-default">Login</a><a href="#" class="logout-link logged prevent-default">Logout</a></li>
{%- capture api -%}
## Login

Render two list items links `a.login-link`{:.language-sass} and `a.logout-link`{:.language-sass}. Needs the [login]({{ 'docs/scripts/#login' | absolute_url }}) script.

```liquid
{% raw %}{% include widgets/login.html %}{% endraw %}
```
Render
```html
<li>
  <a href="#" class="login-link unlogged prevent-default">Login</a>
  <a href="#" class="logout-link logged prevent-default">Logout</a>
</li>
```
{%- endcapture -%}