{% if include.file == nil %}> Missing `file` for `schema` widget
{:.red}{% else %}
<form class='prevent-default schema' data-file='{{ include.file }}'>
  <h3><span class='form-title'>Schema</span>{% if include.file %} <code>{{ include.file }}</code>{% endif %}</h3>

  <input type='hidden' name='$schema' value='https://json-schema.org/draft/2020-12/schema'>

  <div data-type='string'>
    <label for='$id'><code>$id</code> file path (no extension)</label>
    <input type='text' name='$id' id='$id' required>
    <span>URI-reference inside <code>_data/</code></span>
  </div>

<!-- ANNOTATIONS -->
  <div data-type='string'>
    <label for='title'>Title</label>
    <input type='text' autocomplete='off' name='title' id='title'>
  </div>
  <div data-type='string'>
    <label for='description'>Description</label>
    <input type='text' autocomplete='off' name='description' id='description'>
  </div>

  <div data-type='select'>
    <label>Type</label>
    <select name='type' id='type' class='inline'>
      <option value='array'>Array</option>
      <option value='object'>Object</option>
    </select>
  </div>

  <div inject='string'></div>

<!-- BUTTONS -->
  <div data-type='button'>
    <input class='green' type='submit' value='Save'>
    <input class='red' type='reset'>
  </div>
<!-- TEMPLATES -->
<!--
          ARRAY TEMPLATE
-->
<template id="template-array">
  <div data-type='select'>
    <label>Items type</label>
    <select name='items[type]' id='items[type]' class='inline'>
      <option value='object'>Object</option>
    </select>
  </div>

  <div data-type='array'>
    <label class='fg-secondary'>Item properties <a href='#add-property' data-add='property' class='prevent-default'>add</a></label>
  </div>

  <div properties-inject></div>
</template>
<!--
          OBJECT TEMPLATE
-->
<template id="template-object">

  <div data-type='array'>
    <label class='fg-secondary'>Object properties <a href='#add-property' data-add='property' class='prevent-default'>add</a></label>
  </div>

  <div properties-inject></div>

  <!-- SVG -->
  <div data-type='svg'>
    <label>SVG</label>
    <select name='svg' id='svg' class='inline'>
      <option value=''></option>
    </select>
  </div>

</template>
<!--
          PROPERTY TEMPLATE
-->
<template id='template-property'>
  <details>
    <summary><a href='#remove-property' data-remove='property' class='prevent-default'>🗑️</a></summary>
    <div data-type='string'>
      <label for='title'>Title</label>
      <input type='text' autocomplete='off' name='title' id='title'>
    </div>
    <div data-type='string'>
      <label for='description'>Description</label>
      <input type='text' autocomplete='off' name='description' id='description'>
    </div>
  <!-- PROPERTY TYPE -->
    <div data-type='select'>
      <label>Type</label>
      <select name='type' id='type' required class='inline'>
        <option value='string'>String</option>
        <option value='number'>Number</option>
        <option value='integer'>Integer</option>
        <option value='boolean'>Boolean</option>
      </select>
    </div>

    <div type-inject></div>
  </details>
</template>

<!--
          STRING TEMPLATE
-->
<template id='template-string'>
  <div data-type='string'>
    <label>Format</label>
    <select name='format' id='format' class='inline'>
      <option value=''></option>
      <option value='textarea'>Textarea</option>
      <option value='color'>Color</option>
      <option value='email'>Email</option>
      <option value='uri'>Uri</option>
      <option value='time'>Time</option>
      <option value='date'>Date</option>
      <option value='date-time'>Date time</option>
      <option value='duration'>Duration</option>
    </select>
  </div>
  <div class='flipper'>
    <div data-type='flipper-links'>
      <a href="#">Attributes</a>
      <a href="#">Enum</a>
    </div>
    <div>
      <div data-type='string'>
        <label for='default'>Default</label>
        <input type='string' name='default' id='default' data-value-type='string'>
      </div>
      <div data-type='number'>
        <label for='minLength'>Min length</label>
        <input type='number' name='minLength' id='minLength' data-value-type='number'>
        <span>Inclusive limit</span>
      </div>
      <div data-type='number'>
        <label for='maxLength'>Max length</label>
        <input type='number' name='maxLength' id='maxLength' data-value-type='number'>
        <span>Inclusive limit</span>
      </div>
      <div data-type='string'>
        <label for='class'>Class</label>
        <input type='text' name='class' id='class'>
        <span>Space separated class list</span>
      </div>
      <div data-type='string'>
        <label>Autocomplete</label>
        <select name='autocomplete' id='autocomplete' class='inline'>
          <option value='off'>Off</option>
          <option value='on'>On</option>
        </select>
      </div>
      <div data-type='boolean'>
        <label>Required</label>
        <select name='required' id='required' class='inline' data-value-type='boolean'>
          <option value='false'>False</option>
          <option value='true'>True</option>
        </select>
      </div>
    </div>
    <div>
      <div data-type='enum'>
        <label class='fg-secondary'>Enum values <a href='#add-emun' data-add='enum' class='prevent-default'>add</a></label>
      </div>
      <div enum-inject></div>
    </div>
  </div>
</template>

<!--
          NUMBER TEMPLATE
-->
<template id='template-number'>
  <div data-type='string'>
    <label>Format</label>
    <select name='format' id='format' class='inline'>
      <option value=''></option>
      <option value='range'>Range</option>
    </select>
  </div>
  <div class='flipper'>
    <div data-type='flipper-links'>
      <a href="#">Attributes</a>
      <a href="#">Enum</a>
    </div>
    <div>
      <div data-type='number'>
        <label for='default'>Default</label>
        <input type='number' name='default' id='default' data-value-type='number'>
      </div>
      <div data-type='number'>
        <label for='minimum'>Minimun</label>
        <input type='number' name='minimum' id='minimum' data-value-type='number'>
        <span>Inclusive limit</span>
      </div>
      <div data-type='number'>
        <label for='maximum'>Maximum</label>
        <input type='number' name='maximum' id='maximum' data-value-type='number'>
        <span>Inclusive limit</span>
      </div>
      <div data-type='string'>
        <label for='units'>Units</label>
        <input type='text' name='units' id='units'>
      </div>
      <div data-type='string'>
        <label for='class'>Class</label>
        <input type='text' name='class' id='class'>
        <span>Space separated class list</span>
      </div>
    </div>
    <div>
      <div data-type='enum'>
        <label class='fg-secondary'>Enum values <a href='#add-emun' data-add='enum' class='prevent-default'>add</a></label>
      </div>
      <div enum-inject></div>
    </div>
  </div>
</template>

<!--
          INTEGER TEMPLATE
-->
<template id='template-integer'>
  <div data-type='string'>
    <label>Format</label>
    <select name='format' id='format' class='inline'>
      <option value=''></option>
      <option value='range'>Range</option>
    </select>
  </div>
  <div class='flipper'>
    <div data-type='tab'>
      <a href="#">Attributes</a>
      <a href="#">Enum</a>
    </div>
    <div>
      <div data-type='number'>
        <label for='default'>Default</label>
        <input type='number' name='default' id='default' data-value-type='number'>
      </div>
      <div data-type='number'>
        <label for='minimum'>Minimun</label>
        <input type='number' name='minimum' id='minimum' data-value-type='number'>
        <span>Inclusive limit</span>
      </div>
      <div data-type='number'>
        <label for='maximum'>Maximum</label>
        <input type='number' name='maximum' id='maximum' data-value-type='number'>
        <span>Inclusive limit</span>
      </div>
      <div data-type='string'>
        <label for='units'>Units</label>
        <input type='text' name='units' id='units'>
      </div>
      <div data-type='string'>
        <label for='class'>Class</label>
        <input type='text' name='class' id='class'>
        <span>Space separated class list</span>
      </div>
    </div>
    <div>
      <div data-type='enum'>
        <label class='fg-secondary'>Enum values <a href='#add-enum' data-add='enum' class='prevent-default'>add</a></label>
      </div>
      <div enum-inject></div>
    </div>
  </div>
</template>

<!--
          BOOLEAN TEMPLATE
-->
<template id='template-boolean'>
  <div data-type='string'>
    <label>Default</label>
    <select name='default' id='default' class='inline' data-value-type='boolean'>
      <option value=''></option>
      <option value='true'>True</option>
      <option value='false'>False</option>
    </select>
  </div>
  <div data-type='string'>
    <label for='class'>Class</label>
    <input type='text' name='class' id='class'>
    <span>Space separated class list</span>
  </div>
</template>

<!--
          ENUM TEMPLATE
-->
<template id="template-enum">
  <div data-type=''>
    <label></label>
    <a href='#remove-enum' data-remove='enum' class='prevent-default'>🗑️</a>
    <input name='[enum][]' id='[enum][]' value='' type='hidden' data-value-type=''>
  </div>
</template>

</form>
{% endif %}
{%- capture api -%}
## Schema

Form to create an array schema, require [form]({{ 'docs/scripts/#form' | absolute_url }}) and [schema]({{ 'docs/scripts/#schema' | absolute_url }}) scripts.

**Form sections**

- `path`, `title` and `description` fileds
- `[properties-inject]`: DIV for items properties
- `data-type='button'`: `Save` and `Reset` buttons

**Templates**

- `#template-property`
- `#template-string`
- `#template-number`
- `#template-integer`
- `#template-boolean`

```liquid
{% raw %}{% include form/schema.html %}{% endraw %}
```

**Includes**

- `file`: (optional) URI-reference of the schema to load (no extension)
{%- endcapture -%}