{% if include.file == nil %}> Missing `file` for `schema` widget
{:.red}{% else %}
<form class='prevent-default schema' data-file='{{ include.file }}'>
  <h3><span class='form-title'>Schema</span>{% if include.file %} <code>{{ include.file }}</code>{% endif %}</h3>

  <input type='hidden' name='$schema' value='https://json-schema.org/draft/2020-12/schema'>

  <div data-type='string'>
    <label for='$id'><code>$id</code> file path (no extension)</label>
    <input type='text' name='$id' id='$id' required>
    <span>URI-reference inside <code>_data/</code></span>
  </div>

<!-- ANNOTATIONS -->
{% include widgets/form_elements/annotations.html %}

  <div data-type='select'>
    <label>Type</label>
    <select name='type' id='type' class='inline'>
      <option value='array'>Array</option>
      <option value='object'>Object</option>
    </select>
  </div>

  <div inject='string'></div>

<!-- BUTTONS -->
{% include widgets/form_elements/buttons.html %}

<!-- TEMPLATES -->
<!--
          ARRAY TEMPLATE
-->
<template id="template-array">
  <div data-type='select'>
    <label>Items type</label>
    <select name='items[type]' id='items[type]' class='inline'>
      <option value='object'>Object</option>
    </select>
  </div>

  <div data-type='array'>
    <label class='fg-secondary'>Item properties <a href='#add-property' data-add='property' title="Add property" class='prevent-default'>{% include svg/icon_add.svg %}</a></label>
  </div>

  <div properties-inject></div>
</template>
<!--
          OBJECT TEMPLATE
-->
<template id="template-object">

  <div data-type='array'>
    <label class='fg-secondary'>Object properties <a href='#add-property' data-add='property' title="Add property" class='prevent-default'>{% include svg/icon_add.svg %}</a></label>
  </div>

  <div properties-inject></div>

</template>
<!--
          PROPERTY TEMPLATE
-->
<template id='template-property'>
  <details>
    <summary><a href='#remove-property' data-remove='property' title="Remove property" class='prevent-default'>{% include svg/icon_remove.svg %}</a></summary>
{% include widgets/form_elements/annotations.html %}
  <!-- PROPERTY TYPE -->
    <div data-type='select'>
      <label>Type</label>
      <select name='type' id='type' required class='inline'>
        <option value='string'>String</option>
        <option value='number'>Number</option>
        <option value='integer'>Integer</option>
        <option value='boolean'>Boolean</option>
      </select>
    </div>

    <div type-inject></div>
  </details>
</template>

<!--
          STRING TEMPLATE
-->
<template id='template-string'>
  <div data-type='string'>
    <label>Format</label>
    <select name='format' id='format' class='inline'>
      <option value=''></option>
      <option value='textarea'>Textarea</option>
      <option value='color'>Color</option>
      <option value='email'>Email</option>
      <option value='uri'>Uri</option>
      <option value='time'>Time</option>
      <option value='date'>Date</option>
      <option value='date-time'>Date time</option>
      <option value='duration'>Duration</option>
    </select>
  </div>
  <div class='flipper'>
{% include widgets/form_elements/flipper_links.html %}
    <div>
      <div data-type='string'>
        <label for='default'>Default</label>
        <input type='string' name='default' id='default' data-value-type='string'>
      </div>
      <div data-type='number'>
        <label for='minLength'>Min length</label>
        <input type='number' name='minLength' id='minLength' data-value-type='number'>
        <span>Inclusive limit</span>
      </div>
      <div data-type='number'>
        <label for='maxLength'>Max length</label>
        <input type='number' name='maxLength' id='maxLength' data-value-type='number'>
        <span>Inclusive limit</span>
      </div>
{% include widgets/form_elements/class.html %}
{% include widgets/form_elements/autocomplete.html %}
{% include widgets/form_elements/required.html %}
    </div>
    <div>
{% include widgets/form_elements/enum_items.html %}
{% include widgets/form_elements/svg.html %}
    </div>
  </div>
</template>

<!--
          NUMBER TEMPLATE
-->
<template id='template-number'>
  <div data-type='string'>
    <label>Format</label>
    <select name='format' id='format' class='inline'>
      <option value=''></option>
      <option value='range'>Range</option>
    </select>
  </div>
  <div class='flipper'>
{% include widgets/form_elements/flipper_links.html %}
    <div>
{% include widgets/form_elements/numeric.html %}
{% include widgets/form_elements/class.html %}
{% include widgets/form_elements/autocomplete.html %}
{% include widgets/form_elements/required.html %}
    </div>
    <div>
{% include widgets/form_elements/enum_items.html %}
    </div>
  </div>
</template>

<!--
          INTEGER TEMPLATE
-->
<template id='template-integer'>
  <div data-type='string'>
    <label>Format</label>
    <select name='format' id='format' class='inline'>
      <option value=''></option>
      <option value='range'>Range</option>
    </select>
  </div>
  <div class='flipper'>
{% include widgets/form_elements/flipper_links.html %}
    <div>
{% include widgets/form_elements/numeric.html %}
{% include widgets/form_elements/class.html %}
{% include widgets/form_elements/autocomplete.html %}
{% include widgets/form_elements/required.html %}
    </div>
    <div>
{% include widgets/form_elements/enum_items.html %}
    </div>
  </div>
</template>

<!--
          BOOLEAN TEMPLATE
-->
<template id='template-boolean'>
  <div data-type='boolean'>
    <label>Default</label>
    <select name='default' id='default' class='inline' data-value-type='boolean'>
      <option value=''></option>
      <option value='true'>True</option>
      <option value='false'>False</option>
    </select>
  </div>
{% include widgets/form_elements/class.html %}
{% include widgets/form_elements/required.html %}
</template>

<!--
          ENUM ITEM TEMPLATE
-->
<template id="template-enum">
  <div data-type=''>
    <label></label>
    <a href='#remove-enum' title="Remove enum element" data-remove='enum' class='prevent-default'>{% include svg/icon_remove.svg %}</a>
    <input name='[enum][]' id='[enum][]' value='' type='hidden' data-value-type=''>
  </div>
</template>

</form>
{% endif %}
{%- capture api -%}
## Schema

Form to create an array schema, require [form]({{ 'docs/scripts/#form' | absolute_url }}) and [schema]({{ 'docs/scripts/#schema' | absolute_url }}) scripts.

**Form sections**

- `path`, `title` and `description` fileds
- `[properties-inject]`: DIV for items properties
- `data-type='button'`: `Save` and `Reset` buttons

**Templates**

- `#template-property`
- `#template-string`
- `#template-number`
- `#template-integer`
- `#template-boolean`

```liquid
{% raw %}{% include form/schema.html %}{% endraw %}
```

**Includes**

- `file`: (optional) URI-reference of the schema to load (no extension)
{%- endcapture -%}