*
  box-sizing: border-box

// Remove top and bottom margins of the first and last elements
hgroup, form, blockquote, section, aside, article
  & > *:first-child
    margin-top: 0
  & > *:last-child
    margin-bottom: 0

// Cursor on abbreviations
abbr
  cursor: help

// Default cursor
[datetime], span[title], code[title]
  cursor: default

// Inserted and deleted
ins
  @extend .green
del
  @extend .red
