*
  box-sizing: border-box

.wrapper
  width: $main-width
  margin: 0 auto

// Remove top and bottom margins of the first and last elements
hgroup, form, blockquote, section, aside, article
  & > *:first-child
    margin-top: 0
  & > *:last-child
    margin-bottom: 0

// Cursor on title attribute
[title], abbr
  cursor: help
// Not for clickable elements
a, button, summary
  &[title]
    cursor: pointer

// Inserted and deleted
ins
  @extend .green
  color: var(--fg)
del
  @extend .red
  color: var(--fg)