// WRAPPER
.wrapper
  width: $main-width
  margin: 0 auto

// COLORS
.bg
  background: var(--bg)
.bg-secondary
  background: var(--bg-secondary)
.bg-border
  background: var(--border) !important
.bg-stripe
  background: repeating-linear-gradient(-45deg, var(--bg), var(--bg) $space, var(--bg-secondary) $space, var(--bg-secondary) $space*2) !important
.fg
  color: var(--fg) !important
.fg-secondary
  color: var(--fg-secondary)

// FONT SIZE
.font-small
  font-size: $font-size-small
.font-mini
  font-size: $font-size-mini

// ALIGN
.center
  text-align: center
.left
  text-align: left
.right
  text-align: right

// SHADOW
.shadow
  box-shadow: 0 5px 10px var(--bg)

// Display
.hidden, [hidden], template
  display: none !important
.show
  display: initial
.inline
  display: inline
.inline-block
  display: inline-block
.inline-flex
  display: inline-flex
.block
  display: block
// GRIDS
.grid
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 1em
.flex
  display: flex

// PADDINGS
.p-around
  padding: $space*.7 $space
.p-around-small
  padding: $space/3 $space/2
.pv
  padding-block: $space
.pvh
  padding-block: $space/2
.ph
  padding-inline: $space
// Padding zero
.pz
  padding: 0
.pbz
  padding-bottom: 0 !important

// BUTTONS
.button, .pointer
  cursor: pointer

// DISABLED ELEMENTS
[disabled]
  cursor: wait
  opacity: .5
  a, label, input, select, [datetime]
    cursor: wait !important

// MARGINS
// Margin vertical
.mv
  margin-block: $space
// Margin vertical half
.mvh
  margin-block: $space/2
// Margin horizontal
.mh
  margin-inline: $space
// Margin horizontal half
.mhh
  margin-inline: $space/2
// Margin horizontal auto
.mh-auto
  margin-inline: auto
// Margin zero
.mz
  margin: 0
.mbz
  margin-bottom: 0
.mtz
  margin-top: 0

// BORDERS
.border
  border: $border-small solid var(--border)
.no-border
  border: none !important
.border-bottom
  border-bottom: $border-small solid var(--border)
.border-top
  border-top: $border-small solid var(--border)
.border-right
  border-right: $border-small solid var(--border)
.border-left
  border-left: $border-small solid var(--border)
.border-block
  @extend .border-top, .border-bottom
.border-inline
  @extend .border-left, .border-right
.border-secondary
  border-color: var(--bg-secondary)
.border-bg
  border-color: var(--bg)
.border-fg-secondary
  border-color: var(--fg-secondary) !important
// Rounded
.rounded
  border-radius: $border-big
.rounded-medium
  border-radius: $border-medium
.rounded-small
  border-radius: $border-small


//
// HIDE CLASSES
// --------------------------------------

// LOGGED CLASSES
html.logged .unlogged,
html.unlogged .logged,
// ROLE CLASSES
html.role-admin .role-guest,
html.role-guest .role-admin,
// FORK CLASSES
body[fork=true] .unforked,
body[fork=false] .forked
  @extend .hidden