//
// ROOT COLORS
// --------------------------------------
\:root
  //
  // COLORS
  // --------------------------------------
  --blue_1: MediumBlue
  --blue_2: Blue
  --blue_3: DodgerBlue
  --red_1: FireBrick
  --red_2: Red
  --green_1: DarkGreen
  --green_2: LimeGreen
  --orange_1: OrangeRed
  --orange_2: Orange
  --pink: Fuchsia
  //
  // DARK MODE
  // --------------------------------------
  --bg: #{$dark-bg}
  --bg-secondary: #{$dark-bg-secondary}
  --fg: #{$dark-fg}
  --fg-secondary: #{$dark-fg-secondary}
  --border: #{$dark-border}
  --link: #{$link-dark}
  --blue: #{$link-dark}
  --blue_active: var(--blue_2)
  --green: var(--green_1)
  --green_active: var(--green_2)
  --red: var(--red_1)
  --red_active: var(--red_2)

// Color classes
@each $color-name, $color-value in $colors-dark
  $hue: hue($color-value)
  .#{$color-name}
    --link: #{$color-value}
    @each $element, $percent in $color-lightness-dark
      $sat: map-get($color-saturation-dark, $element)
      --#{$element}: #{hsl($hue, $sat, $percent)}
    color: var(--fg)
    background: var(--bg)

.secondary
  --bg:             #{hsl(0, 0%, map-get($color-lightness-dark, bg-secondary))}
  --bg-secondary:   #{hsl(0, 0%, 15%)}
  color: var(--fg)
  background: var(--bg)

.light
  --bg: hsl(0, 0%, 98%)
  --bg-secondary: hsl(0, 0%, 93%)
  --fg: hsl(0, 0%, 17%)
  --fg-secondary: #{$light-fg-secondary}
  --border: hsl(0, 0%, 79%)
  --link: #{$link-light}
  --blue: #{$link-light}
  --blue_active: var(--blue_1)
  --green: var(--green_2)
  --green_active: var(--green_1)
  --red: var(--red_2)
  --red_active: var(--red_1)
  color: var(--fg)
  background: var(--bg)

  // Color classes
  @each $color-name, $color-value in $colors-light
    $hue: hue($color-value)
    .#{$color-name}
      --link: #{$color-value}
      @each $element, $percent in $color-lightness-light
        $sat: map-get($color-saturation-light, $element)
        --#{$element}: #{hsl($hue, $sat, $percent)}
      color: var(--fg)
      background: var(--bg)

  .secondary
    --bg:             #{hsl(0, 0%, map-get($color-lightness-light, bg-secondary))}
    --bg-secondary:   #{hsl(0, 0%, 85%)}
    color: var(--fg)
    background: var(--bg)

//
// LIGHT MODE
// --------------------------------------

@media (prefers-color-scheme: light)
  \:root
    --bg: hsl(0, 0%, 98%)
    --bg-secondary: hsl(0, 0%, 93%)
    --fg: hsl(0, 0%, 17%)
    --fg-secondary: hsl(0, 0%, 50%)
    --border: hsl(0, 0%, 79%)
    --link: #{$link-light}
    --blue: #{$link-light}
    --blue_active: var(--blue_1)
    --green: var(--green_2)
    --green_active: var(--green_1)
    --red: var(--red_2)
    --red_active: var(--red_1)
    // @extend .bg, .fg

  // Color classes
  @each $color-name, $color-value in $colors-light
    $hue: hue($color-value)
    .#{$color-name}
      --link: #{$color-value}
      @each $element, $percent in $color-lightness-light
        $sat: map-get($color-saturation-light, $element)
        --#{$element}: #{hsl($hue, $sat, $percent)}
      color: var(--fg)
      background: var(--bg)
  .secondary
    --bg:             #{hsl(0, 0%, map-get($color-lightness-light, bg-secondary))}
    --bg-secondary:   #{hsl(0, 0%, 85%)}
    color: var(--fg)
    background: var(--bg)

  .dark
    --bg: hsl(0, 0%, 4%)
    --bg-secondary: hsl(0, 0%, 9%)
    --fg: hsl(0, 0%, 83%)
    --fg-secondary: hsl(0, 0%, 56%)
    --border: hsl(0, 0%, 21%)
    --link: #{$link-dark}
    --blue: #{$link-dark}
    --blue_active: var(--blue_2)
    --green: var(--green_1)
    --green_active: var(--green_2)
    --red: var(--red_1)
    --red_active: var(--red_2)
    color: var(--fg)
    background: var(--bg)

    // Color classes
    @each $color-name, $color-value in $colors-dark
      $hue: hue($color-value)
      .#{$color-name}
        --link: #{$color-value}
        @each $element, $percent in $color-lightness-dark
          $sat: map-get($color-saturation-dark, $element)
          --#{$element}: #{hsl($hue, $sat, $percent)}
        color: var(--fg)
        background: var(--bg)

    .secondary
      --bg:             #{hsl(0, 0%, map-get($color-lightness-dark, bg-secondary))}
      --bg-secondary:   #{hsl(0, 0%, 15%)}
      color: var(--fg)
      background: var(--bg)