// Widths
$main-width:              45em !default
$main-width-big:          65em !default
$sidebar-width:           15em !default
// Sidebar side
$sidebar-side:            left !default
// Media max-width
$small-screen:            62em !default
$big-screen:              100em !default

// FONTS
$font:                    sans-serif !default
$font-size:               16px !default
$font-size-small:         95% !default
$font-size-mini:          85% !default
$line-height:             1.4 !default
$font-code:               monospace !default
$headings-font:           sans-serif !default
$headings-weight:         normal !default
$headings-margins:        0.67 0.83 1 1.33 1.67 2.33 !default

// NAVIGATION
$nav-sticky:              true !default

// SPACING
$space:                   1em !default

// Borders
$border-small:            1px !default
$border-medium:           3px !default
$border-big:              5px !default

// Z-index
$z-index-nav:             1000 !default
$z-index-notification:    2000 !default

//
// COLORS
// --------------------------------------

//
// DARK MODE
// --------------------------------------
// Colors
$blue-dark:     DodgerBlue !default
$red-dark:      Red !default
$green-dark:    LimeGreen !default
$orange-dark:   Orange !default
$pink-dark:     Fuchsia !default
// Links
$link-dark:     $blue-dark !default
// As a list
$colors-dark: (blue: $blue-dark, red: $red-dark, green: $green-dark, orange: $orange-dark, pink: $pink-dark) !default
// Colors shades
$color-lightness-dark: (bg: 7%, fg: 83%, bg_secondary: 11%, fg_secondary: 58%, border: 21%) !default

//
// LIGHT MODE
// --------------------------------------
// Colors
$blue-light:     MediumBlue !default
$red-light:      FireBrick !default
$green-light:    DarkGreen !default
$orange-light:   OrangeRed !default
$pink-light:     Fuchsia !default
// Links
$link-light:     $blue-light !default
// As a list
$colors-light: (blue: $blue-light, red: $red-light, green: $green-light, orange: $orange-light, pink: $pink-light) !default
// Colors shades
$color-lightness-light: (bg: 94%, fg: 17%, bg_secondary: 91%, fg_secondary: 50%, border: 79%) !default