<div data-type='button'>
  <button class="prevent-default" title="Save" type="submit">{% comment %} {% include svg/icon_confirm.svg %} {% endcomment %}Save</button>
  <button class="prevent-default" title="Reset" type="reset">{% comment %} {% include svg/icon_remove.svg %} {% endcomment %}Reset</button>
  {% if site.github.environment == 'development' %}<button class="prevent-default secondary" title="View" type="button">{% comment %} {% include svg/icon_view.svg %} {% endcomment %}View</button>{% endif %}
</div>