<div data-type='number'>
  <label for='default'>Default</label>
  <input type='number' name='default' id='default' data-value-type='number'>
</div>
<div data-type='number'>
  <label for='minimum'>Minimun</label>
  <input type='number' name='minimum' id='minimum' data-value-type='number'>
  <span>Inclusive limit</span>
</div>
<div data-type='number'>
  <label for='maximum'>Maximum</label>
  <input type='number' name='maximum' id='maximum' data-value-type='number'>
  <span>Inclusive limit</span>
</div>
<div data-type='string'>
  <label for='units'>Units</label>
  <input type='text' name='units' id='units'>
</div>