//
// CSV tables
// --------------------------------------
.csv-table

  // Alignment
  thead th#counter, tbody td:not(:last-child):not([datetime])
    @extend .right

  // Date and repetition cells
  tbody
    td[datetime]
      @extend .left
      span[relative-time]
        @extend .fg-secondary
    tr.duration td
      @extend .bg-secondary

  // Counter cells
  tbody td:first-child
    @extend .fg-secondary, .bg-secondary

  // Past future divider
  &:not(.border)
    tr.past + tr.future, tr.future + tr.past, tr.duration + tr.past, tr.past + tr.duration
      & td
        @extend .border-top

  //
  // SORT LINKS
  // --------------------------------------
  &[data-sort='down'] a[href='#up'], &[data-sort='up'] a[href='#down']
    @extend .hidden

//
// SERVICE LINKS
// --------------------------------------
// Show only for logged admins
html:not(.role-admin) .csv-table
  a[href='#edit'], a[href='#delete']
    @extend .hidden

//
// CSV Blocks
// --------------------------------------
.csv-blocks
  @extend .mv, .flex
  &[data-flow=future]
    flex-direction: row-reverse

  // Blocks
  [title]
    @extend .bg-secondary, .border, .flex, .fg-secondary, .rounded, .font-mini
    cursor: default
    justify-content: center
    align-items: center

    // Use border color `bg` to create a gap included in div width
    border-color: var(--bg) !important
    border-width: $border-medium !important
    box-sizing: border-box

//
// CSV Calendars
// --------------------------------------
.csv-calendar
  @extend .mv, .font-mini
  display: grid
  grid-template-columns: repeat(2, 1fr)
  [month]
    @extend .border
    display: grid
    grid-template-columns: repeat(7, 1fr)
    border-color: var(--bg) !important
    border-width: $border-medium !important
    box-sizing: border-box
  [day]
    @extend .fg-secondary, .bg-secondary, .border, .flex, .rounded
    cursor: default
    justify-content: center
    align-items: center
    border-color: var(--bg) !important
    border-width: $border-medium !important
    box-sizing: border-box

// GENERAL
// Highlighted
.csv-calendar [day], .csv-blocks [title]
  &.present
    // Override .bg-secondary
    background: var(--border) !important
  &.today
    border-color: var(--fg-secondary) !important