//
// CSV tables
// --------------------------------------
.csv-table

  // Alignment
  thead th#counter, tbody td:not(:last-child):not([datetime])
    @extend .right

  // Date and repetition cells
  tbody
    td[datetime]
      @extend .left
      span[relative-time]
        @extend .fg-secondary
    tr.duration td
      @extend .bg-secondary

  // Counter cells
  tbody td:first-child
    @extend .fg-secondary, .bg-secondary

  // Past future divider
  &:not(.border)
    tr.past + tr.future, tr.future + tr.past, tr.duration + tr.past, tr.past + tr.duration
      & td
        @extend .border-top

  //
  // SORT LINKS
  // --------------------------------------
  &[data-sort='down'] a[href='#up'], &[data-sort='up'] a[href='#down']
    @extend .hidden

  // FILTER SELECT
  th >
    select, input
      @extend .inline, .bg, .no-border

  // Today and Tomorrow
  tr.tomorrow
    @extend .orange

html[mode=dark] .csv-table tr.today
  @extend .light
html[mode=light] .csv-table tr.today
  @extend .dark

//
// SERVICE LINKS
// --------------------------------------
// Show only for logged admins
html:not(.role-admin) .csv-table
  a[href^='#edit'], a[href^='#remove']
    @extend .hidden

//
// BLOCK general for BLOCKS and CALENDARS
// --------------------------------------
.box
  @extend .border, .border-bg, .flex, .fg-secondary, .rounded, .font-mini
  cursor: default
  // Size
  min-height: 3em
  // Content
  justify-content: center
  align-items: center
  // Use border to create a gap included in div width
  border-width: $border-medium !important
  box-sizing: border-box
  // Grow Shrink Basis
  flex: 1 1 0

  // Off block
  &:not(.off)
    @extend .bg-secondary

//
// CSV Blocks
// --------------------------------------
.csv-blocks
  @extend .mv, .flex
  // Min height of the .box children
  min-height: 3em
  &[data-flow=future]
    flex-direction: row-reverse

  // Blocks
  > div
    @extend .box

//
// CSV Calendars
// --------------------------------------
.csv-calendar
  @extend .mv, .grid
  grid-template-columns: repeat(2, 1fr) !important
  // month
  > div
    @extend .border, .grid
    gap: normal !important
    grid-template-columns: repeat(7, 1fr) !important
    border-color: var(--bg) !important
    border-width: $border-medium !important
    box-sizing: border-box
    // day
    > div
      @extend .box

// GENERAL
// Highlighted
.csv-calendar > div > div, .csv-blocks > div
  &.present
    @extend .fg, .bg-border
  &.today
    @extend .border-fg-secondary