//
// GLOBAL DETAILS
// --------------------------------------
details summary
  cursor: pointer
  @extend .p-around

//
// MAIN DETAILS
// --------------------------------------
main details

  @extend .mvh

  // Clear both
  &::after
    display: table
    clear: both
    content: ""
  
  summary
    outline: none
    &:hover
      color: var(--fg-secondary)
    & > *
      display: inline

    // Headers on summray
    h1, h2, h3, h4, h5, h6
      padding: 0

//
// FORM DETAILS
// --------------------------------------
form details
  @extend .border-top, .border-secondary

//
// SIDEBAR DETAILS
// --------------------------------------
.sidebar
  & > details summary
    @extend .bg-secondary, .fg-secondary
  details
    &:not([open])
      margin-bottom: $border-medium
    summary
      &:hover
        color: var(--link) !important
      &:active
        color: var(--fg-secondary) !important
    &[open] summary
      @extend .fg
