//
// GLOBAL DETAILS
// --------------------------------------
details summary
  @extend .p-around, .pointer
  outline: none
  &:hover
    color: var(--fg-secondary)
  &:active
    color: var(--fg)

//
// MAIN DETAILS
// --------------------------------------
main details

  @extend .mvh

  // Clear both
  &::after
    display: table
    clear: both
    content: ""
  
  summary > *
    display: inline

    // Headers on summary
    h1, h2, h3, h4, h5, h6
      @extend .pz

//
// FORM DETAILS
// --------------------------------------
form details
  @extend .border-top, .border-secondary

//
// SIDEBAR DETAILS as WIDGETS HEADER
// --------------------------------------
.sidebar > details
  summary
    @extend .bg-secondary
    &:hover
      color: var(--link) !important
    &:active
      color: var(--fg-secondary) !important
  &:not([open])
    margin-bottom: .1*$space
    @extend .fg-secondary
