// FONTS
input, select, textarea, button, option
  font-family: inherit
  font-size: inherit
  line-height: inherit

// MARGINS
// --------------------------------------
input:not([type=range]), textarea, select
  margin-top: $space*.2
  margin-bottom: $space*.1

// Override default browser BORDERS
input:not([type=range]), textarea, select, .button
  @extend .border, .border-secondary

// Mini rounded
input:not([type=range]), textarea, select
  @extend .rounded-medium

// BUTTONS
button:enabled, input[type=button], input[type=reset], input[type=submit]
  @extend .button

// RESET and PADDINGS
input:not([type=range]), textarea, select
  appearance: none
  -webkit-appearance: none
  padding: 1px 5px
input[type=color]
  padding: 0

// BG Secondary
input, textarea, select,
  @extend .fg, .bg-secondary

// TWEAKS
// --------------------------------------

// COLOR swatch border hack
input[type="color"]
  &::-moz-color-swatch
    border: none
  &::-webkit-color-swatch
    border: none

// Hide number ARROWS
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none !important
input[type=number]
  -moz-appearance: textfield !important

// Range OUTPUT
output
  position: relative
  top: $space*-.5
  left: $space*.3

// RANGE and SELECT cursor
input, select
  @extend .pointer

// Empty multiple select min-width
select[multiple] option[value=""]:only-of-type
  min-width: $space*5

//
// FORMS
// --------------------------------------
main form
  display: table
  @extend .mv, .border-right, .border-left, .border-secondary
  [data-type=button]
    @extend .bg-secondary

// BORDERS
form.border
  & > h3, & > p
    @extend .border-bottom
  div.grid > div:not(:last-child)
    @extend .border-right
  div[data-type=button], div[data-type=array]
    @extend .border-top

form.rounded
  .button
    @extend .rounded
  h3:first-child
    border-top-left-radius: $border-big
    border-top-right-radius: $border-big
  div:last-child
    border-bottom-left-radius: $border-big
    border-bottom-right-radius: $border-big

.sidebar form
  [data-type=button]
    @extend .border-top, .border-secondary
  h3
    font-size: 1em
    @extend .p-around
  input
    max-width: 100%

form

  // Grid has no GAP
  div.grid
    gap: 0

  // Spacing
  div[data-type], & > h3, & > p, details summary
    @extend .p-around-small
    margin: 0

  // Borders
  div.item
    @extend .border-bottom, .border-secondary

  //
  // SPANS
  // --------------------------------------
  span
    @extend .fg-secondary, .font-mini

  //
  // LABELS
  // --------------------------------------
  label[for]
    @extend .pointer

  //
  // DETAILS MARGINS
  // --------------------------------------
  details
    @extend .mz

  //
  // BUTTONS
  // --------------------------------------
  // Enabled
  button:enabled, input[type=button], input[type=reset], input[type=submit]
    margin: 0
  // Disabled
  input:disabled, button:disabled, select:disabled, input[readonly]
    @extend .disabled
  // BUTTON
  .button
    @extend .p-around, .font-small

  //
  // COLORS
  // --------------------------------------

  // BG Secondary
  & > h3, & > h4, .button:hover
    background: var(--bg-secondary) !important

  // Normal
  .button, .button:active
    background: var(--bg)
    color: var(--fg)

  // Special
  input[type=submit]:not([disabled])
    @extend .green
  input[type=reset]:not([disabled])
    @extend .red

  //
  // DISPLAY
  // --------------------------------------

  // Blocks
  input:not([type=range], [type=button], [type=submit], [type=reset], .button, .inline),
  textarea, select:not(.inline)
    @extend .block

  // Ranges
  [data-type=range]
    label, span
      display: block

  //
  // ADD/REMOVE links
  // --------------------------------------

  // Links align right
  [data-add], [data-remove]
    float: right

  //
  // ENUM values spacing
  // --------------------------------------
  [enum-inject] [data-type]:not(:last-of-type)
    padding-bottom: 0.2em

  //
  // DISABLED (Loading state)
  // --------------------------------------
  &[disabled]
    input, button, select
      pointer-events: none
      @extend .disabled