// FONTS
input, select, textarea, button, option
  font-family: inherit
  font-size: inherit
  line-height: inherit

// MARGINS
// --------------------------------------
input:not([type=range]), textarea, select
  margin-top: $space*.2
  margin-bottom: $space*.1

// Override default browser BORDERS
input:not([type=range]), textarea, select
  @extend .border, .border-secondary

// Mini rounded
input:not([type=range]), textarea, select
  @extend .rounded-medium

// BUTTONS
button:enabled, input[type=button], input[type=reset], input[type=submit]
  @extend .button

// SUBMIT and RESET
button
  @extend .fg-secondary, .p-around-small, .inline-block, .border, .rounded-medium
  svg + span
    color: inherit !important
    font-size: 100% !important
    margin-left: .2em
  &[type]:not(:first-child)
    margin-left: $space/4 !important
  &[type=submit]
    color: var(--green) !important
    border-color: var(--green) !important
    &:active, &:focus
      color: var(--green_active) !important
      border-color: var(--green_active) !important
  &[type="reset"]
    color: var(--red) !important
    border-color: var(--red) !important
    &:active, &:focus
      color: var(--red_active) !important
      border-color: var(--red_active) !important
  &[type=button]
    border-color: var(--fg-secondary) !important
    &:active, &:focus
      color: var(--fg) !important
      border-color: var(--fg) !important

// RESET and PADDINGS
input:not([type=range]), textarea, select
  appearance: none
  -webkit-appearance: none
  padding: 1px 5px
input[type=color]
  @extend .pz
  &.inline
    vertical-align: bottom

// BG Secondary
input, textarea, select,
  @extend .fg, .bg-secondary

// TWEAKS
// --------------------------------------

// COLOR swatch border hack
input[type="color"]
  &::-moz-color-swatch
    border: none
  &::-webkit-color-swatch
    border: none

// Hide number ARROWS
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none !important
input[type=number]
  -moz-appearance: textfield !important

// Range OUTPUT
output
  position: relative
  top: $space*-.5
  left: $space*.3

// RANGE and SELECT cursor
input, select
  @extend .pointer

// Empty multiple select min-width
select[multiple] option[value=""]:only-of-type
  min-width: $space*5

//
// BORDERS
// --------------------------------------
form

  // Border Top
  details
    @extend .border-top, .border-secondary

  // Border bottom
  div.item, [data-type=item], [properties-inject]
    @extend .border-bottom, .border-secondary

  // Bordered
  &.border
    & > h3, & > p
      @extend .border-bottom
    div.grid > div:not(:last-child)
      @extend .border-right
    div[data-type=array]
      @extend .border-top

  // Rounded
  &.rounded
    .button
      @extend .rounded
    h3:first-child
      border-top-left-radius: $border-big
      border-top-right-radius: $border-big
    div:last-child
      border-bottom-left-radius: $border-big
      border-bottom-right-radius: $border-big

//
// FORMS
// --------------------------------------
form

  // Grid has no GAP
  div.grid
    gap: 0

  // Spacing
  [data-type], & > h3, & > p, details summary
    @extend .p-around-small
    margin: 0
  [data-type=button]
    @extend .pvh

  //
  // SPANS
  // --------------------------------------
  [data-type] span
    @extend .fg-secondary, .font-mini

  //
  // LABELS
  // --------------------------------------
  label[for]
    @extend .pointer

  //
  // DETAILS MARGINS
  // --------------------------------------
  details
    @extend .mz
    &[open] summary
      color: var(--link)

  //
  // BUTTONS
  // --------------------------------------
  // Enabled
  button:enabled, input[type=button], input[type=reset], input[type=submit]
    margin: 0
  // Disabled
  input:disabled, button:disabled, select:disabled, input[readonly]
    @extend .disabled
  // BUTTON
  .button
    @extend .p-around-small, .font-small, .bg

  //
  // COLORS
  // --------------------------------------

  // BG Secondary
  & > h3, & > h4
    @extend .bg-secondary

  //
  // DISPLAY
  // --------------------------------------

  // Blocks
  input:not([type=range], [type=button], [type=submit], [type=reset], .button, .inline), textarea, select:not(.inline)
    @extend .block
  
  input, select
    &.inline + span
      display: block

  // Ranges
  [data-type=range]
    label, span
      display: block

  //
  // ADD/REMOVE/MOVE links
  // --------------------------------------

  // Links align right
  [data-add], [data-remove], [data-down], [data-up]
    float: right

  // Hide impossible property movements
  div[properties-inject], div[enum-inject]
    details:first-child summary a[data-up],
    details:last-child summary a[data-down],
    [data-type]:first-child a[data-up],
    [data-type]:last-child a[data-down]
      @extend .hidden

  //
  // ENUM values spacing
  // --------------------------------------
  [enum-inject] [data-type]:not(:last-of-type)
    padding-bottom: 0.2em

  //
  // DISABLED (Loading state)
  // --------------------------------------
  &[disabled]
    input, button, select, a, textarea
      pointer-events: none
      @extend .disabled

//
// FORMS elsewhere
// --------------------------------------
main form
  display: table
  @extend .mv, .border-right, .border-left, .border-bottom, .border-secondary

.sidebar form
  &:not(:last-child) [data-type=button]
    @extend .border-secondary
    padding: $space/2
  &:last-child [data-type=button]
    @extend .bg-secondary
  h3
    font-size: 1em
    @extend .p-around
  input
    max-width: 100%
  button svg + span
    @extend .hidden