a, a .highlight, a > code

  // Color
  color: var(--link) !important

  // Decorations
  text-decoration: none
  outline-width: 0

  // Interactions
  &:hover, &.active
    color: var(--fg) !important

  // Click
  &:active
    color: var(--fg-secondary) !important

  // Disabled
  &[disabled], &.disabled
    pointer-events: none
    color: var(--fg-secondary) !important

//
// SIDEBAR Widgets
// --------------------------------------
.sidebar > details a
  color: var(--fg-secondary) !important
  &:hover
    color: var(--fg) !important
  &:active, &.active
    color: var(--link) !important

//
// Table of Contents INVIEW links
// --------------------------------------
#markdown-toc a.inview
  color: var(--link) !important

//
// CSV TABLE
// --------------------------------------
table[csv-table]
  #count a
    font-size: 80%
    vertical-align: text-top
  a
    &[href='#edit'], &[href='#delete']
      font-variant: all-small-caps