ul
  // Reset markers
  list-style-type: initial
  ul
    padding-left: $space*2

ul[github-api-url] li:not(:first-of-type)
  color: var(--fg-secondary)

dl
  dt
    font-weight: bold
  dd
    margin-left: $space*1.5

section li
  margin-bottom: $space/3