ul
  // Reset markers
  list-style-type: initial
  ul
    padding-left: $space*2

//
// Main lists
// --------------------------------------
main
  li
    margin-bottom: $space/3
  ul ul
    margin-top: 0
footer li
  margin-bottom: 0

//
// SIDEBAR lists
// --------------------------------------
.sidebar
  ul
    list-style-type: none
    padding-inline: $space*1
    li
      color: var(--fg-secondary)
      // Override one line links...
      // overflow: hidden
      // white-space: nowrap
      // text-overflow: ellipsis

// Consecutive `github-api` lists
ul[github-api-url], ul[github-api-url-repo]
  & + ul[github-api-url], & + ul[github-api-url-repo]
    margin-top: -$space/3*2