main .wrapper

  & > section:first-of-type
    // <number> 1 0 (grow shrink basis)
    flex: 1
    // Prevent sidebar jump when section is shorter
    min-height: 20em

  & > aside

    // WIDTH
    flex: $sidebar-width

    // Hide if empty
    &:empty
      flex: initial

    // Lists
    ul
      list-style-type: none
      padding-left: $space

// STICKY Sidebar
@if $sidebar-sticky
  main .wrapper > aside
    position: sticky
    top: 3em
  body[page-top*='nav'] main .wrapper > aside
    top: 6.3em
