body > div.flex
  @if $sidebar-side == left
    flex-direction: row
  @if $sidebar-side == right
    flex-direction: row-reverse

aside.sidebar

  @extend .border-right, .border-secondary, .bg, .fg

  width: $sidebar-width
  height: 100vh
  position: sticky
  top: 0
  overflow-y: auto

  &:empty
    @extend .hidden