//
// SVG
// --------------------------------------
svg
  vertical-align: bottom
  // Icon dimensions
  &.icon
    width: floor($line-height * $font-size)
    // Hover effect
    use
      &:first-of-type
        display: inline
      &:last-of-type
        display: none

// Base COLORS
a[href^='#edit'] svg.icon use
  fill: var(--link)
a[href^='#add'] svg.icon use
  fill: var(--green_1)
a[href^='#remove'] svg.icon use
  fill: var(--red_1)

// Form COLORS
a[href^='#submit']
  svg.icon use
    fill: var(--green_2)
  &:active, &:focus
    svg.icon use
      fill: var(--green_1) !important
a[href^='#reset']
  svg.icon use
    fill: var(--red_2)
  &:active, &:focus
    svg.icon use
      fill: var(--red_1) !important

// ivg.icon STATES inside LINK
a

  // ACTIVE
  &:active svg.icon use
    &:first-of-type
      display: inline
    &:last-of-type
      display: none

  // HOVER, FOCUS
  &:hover, &:focus
    svg.icon use
      &:first-of-type
        display: none
      &:last-of-type
        display: inline