//
// SVG
// --------------------------------------
svg
  vertical-align: bottom
  // Icon dimensions
  &.icon
    width: floor($line-height * $font-size)
    // Hover effect
    use
      &:first-of-type
        display: inline
      &:last-of-type
        display: none

// Base COLORS
a[href^='#edit'] svg.icon use
  fill: var(--link)
a[href^='#add'], a[href^='#submit'], [type=submit]
  & svg.icon use
    fill: var(--green)
a[href^='#remove'], a[href^='#reset'], [type=reset]
  svg.icon use
    fill: var(--red)

// Form COLORS
[type=submit]
  &:active, &:focus
    svg.icon use
      fill: var(--green_active) !important
[type=reset]
  &:active, &:focus
    svg.icon use
      fill: var(--red_active) !important

// svg.icon STATES inside LINK
a, button

  // ACTIVE
  &:active svg.icon use
    &:first-of-type
      display: inline
    &:last-of-type
      display: none

  // HOVER, FOCUS
  &:hover, &:focus
    svg.icon use
      &:first-of-type
        display: none
      &:last-of-type
        display: inline