table
  
  // Spacing
  border-spacing: 0
  @extend .mv, .bg, .border-top, .border-bottom, .border-left, .border-right, .border-secondary

  // Borders
  &.border
    thead:last-of-type th,
    tbody:not(:last-child) td,
    tbody:last-child tr:not(:last-child) td,
    tfoot:last-child tr:not(:last-child) td
      @extend .border-bottom
  &.border-secondary
    thead:last-of-type th,
    tbody:not(:last-child) td,
    tbody:last-child tr:not(:last-child) td,
    tfoot:last-child tr:not(:last-child) td
      @extend .border-secondary

  // Rounded
  &.rounded
    thead:first-child, tbody:first-child
      th:first-child, td:first-child
        border-top-left-radius: $border-big
      th:last-child, td:last-child
        border-top-right-radius: $border-big
    thead:last-child, tbody:last-child, tfoot:last-child
      tr:last-child
        th:first-child, td:first-child
          border-bottom-left-radius: $border-big
        th:last-child, td:last-child
          border-bottom-right-radius: $border-big

th, td
  @extend .bg, .fg, .p-around-small
  &[title]
    cursor: default

tr
  &.no-border
    td, th
      @extend .no-border
  &.border, &.border-bottom
    td, th
      @extend .border-bottom
  &.border-top
    td, th
      @extend .border-top
  &.border-secondary
    td, th
      @extend .border-secondary

thead th, tfoot td, tbody:nth-of-type(2n) td
  @extend .bg-secondary