table
  
  // Spacing
  border-spacing: 0
  @extend .mv, .rounded, .border

th, td
  padding: $space/2
  @extend .bg, .fg

thead:last-of-type th,
tbody:not(:last-child) td,
tbody:last-child tr:not(:last-child) td,
tfoot:last-child tr:not(:last-child) td
  @extend .border-bottom

tr.no-border
  td, th
    @extend .no-border

thead:not(.filter) th, tfoot td, tbody:nth-of-type(2n) td
  @extend .bg-secondary

// CSV tables
table[csv-table]
  thead
    th:first-child
      @extend .right
    &.filter tr th
      @extend .border-bottom
  tbody
    td
      @extend .right
    td:first-child
      @extend .fg-secondary, .bg-secondary