{%- include page/init.html -%}<!DOCTYPE html>
<html
  lang='{{ site.language | default: 'en_US' }}'
  mode='{{ mode }}'>

<head>
{% include page/head.html %}
</head>

<body
  class='{{ page.class | append: " " | append: site.class | strip }}'
  site-pages='{{ site.html_pages.size | plus: site.documents.size }}'
  page-title='{{ page.title | slugify }}'
  page-collection='{{ page.collection }}'
  collection-order='{{ page.collection.order }}'
  page-order='{{ page.order }}'
  page-categories='{{ page.categories | join: ',' }}'
  page-header='{{ header | inspect }}'
  page-nav='{{ nav | inspect }}'
  page-navigation='{{ navigation | join: ',' }}'
  page-sidebar='{{ sidebar | join: ',' }}'
  page-footer='{{ footer | inspect }}'
  page-metadata='{{ metadata | inspect }}'
  page-pagination='{{ pagination | inspect }}'>

<div class='notification'></div>
{% if header %}{% include page/header.html %}{% endif %}

<div class="flex">
  {% include page/sidebar.html %}
  {% include page/main.html %}
</div>

</body>
</html>